<nav class="sidebar text-center text-lg-left">
  <div class="sidebar-header mt-1 mb-5 text-center">
    <h2 class="h4">Dashboard</h2>
  </div>
  <ul class="list-unstyled components">
    <li class="">
      <a routerLink="/admin" class="nav-link">Statistiques</a>
    </li>
    <li class="">
      <a routerLink="/admin/article" class="nav-link">Articles</a>
    </li>
    <li class="">
      <a routerLink="/admin/user" class="nav-link">Utilisateurs</a>
    </li>
    <li class="">
      <a routerLink="/admin/parametre" class="nav-link">Paramètres</a>
    </li>
  </ul>
</nav>
