<div class="row">
  <div class="col-lg-2 border-right">
    <app-menu-dashboard></app-menu-dashboard>
  </div>
  <div class="col-lg-10">
    <h2 class="mb-4">Gestion d'articles</h2>
    <div>
      <a
        routerLink="/admin/article/ajouter"
        class="btn btn-primary mb-3"
        title="Ajouter"
        ><i class="fas fa-plus"></i
      ></a>
    </div>
    <div class="table-responsive">
      <table class="table table-striped table-bordered table-sm table-hover">
        <thead>
          <tr>
            <th scope="col" class="text-right">Id</th>
            <th scope="col">Titre</th>
            <th scope="col">Catégorie</th>
            <th scope="col">Auteur</th>
            <th scope="col">Date Création</th>
            <th scope="col">Publié</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let article of articles">
            <td scope="row" style="overflow: hidden;">{{ article._id }}</td>
            <td>{{ article.titre }}</td>
            <td>{{ article.categorie[0] }}</td>
            <td>{{ article.nomAuteur }}</td>
            <td>{{ article.createdAt | date: "dd/MM/y , HH:mm:ss" }}</td>
            <td>
              <!-- Si publié -> cercle vert, si non -> cercle rougle -->
              <div
                *ngIf="article.published; else notPublished"
                class="circle m-auto btn-success"
                (click)="updatePubli(false, article)"
                title="Publié"
              ></div>
              <ng-template #notPublished
                ><div
                  class="circle m-auto btn-danger"
                  (click)="updatePubli(true, article)"
                  title="brouillon"
                ></div>
              </ng-template>
              <!--<div *ngIf="!article.published">
                <button
                  class="circle m-auto btn-danger"
                  (click)="updatePubli(true, article)"
                ></button>
              </div>-->
            </td>
            <td class="flex justify-content-around">
              <button
                class="btn btn-danger"
                (click)="deleteArticle(article._id)"
                title="Supprimer"
              >
                <i class="fas fa-minus"></i>
              </button>
              <a
                [routerLink]="['/admin/article/edit', article._id]"
                class="btn btn-warning"
                title="Modifier"
                ><i class="fas fa-plus"></i
              ></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
