<div class="row">
  <div class="col-lg-2 border-right">
    <app-menu-dashboard></app-menu-dashboard>
  </div>
  <div class="col-lg-10">
    <h2>Ajouter un nouvel utilisateur</h2>
    <form #f="ngForm" (ngSubmit)="onSubmitUser(f)">
      <div class="form-group my-3">
        <label for="nom">Nom</label>
        <input type="text" name="nom" class="form-control" ngModel required />
      </div>
      <div class="from-group my-3">
        <label for="prenom">Prénom</label>
        <input
          type="text"
          name="prenom"
          class="form-control"
          ngModel
          required
        />
      </div>
      <div class="from-group my-3">
        <label for="identifiant">Identifiant</label>
        <input
          type="text"
          name="identifiant"
          class="form-control"
          ngModel
          required
        />
      </div>
      <div class="from-group my-3">
        <label for="password">Mot de Passe</label>
        <input
          type="password"
          name="password"
          class="form-control"
          ngModel
          required
        />
      </div>
      <div class="from-group my-3">
        <label for="email">Email</label>
        <input
          type="email"
          name="email"
          class="form-control"
          ngModel
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
          required
        />
      </div>

      <div class="from-group w-25 my-3">
        <label for="role">Role</label>
        <select name="role" class="form-control" ngModel required>
          <option value="" selected disabled>...</option>
          <option *ngFor="let a of roleListe" [value]="a"> {{ a }} </option>
        </select>
      </div>
      <div class="custom-control custom-checkbox my-3">
        <input
          type="checkbox"
          class="custom-control-input actif"
          name="estActif"
          #estActif
          [ngModel]="false"
        />
        <label for="estActif" class="custom-control-label">
          <span *ngIf="estActif.checked; else estChecked">Actif</span>
          <ng-template #estChecked>Inactif</ng-template>
        </label>
      </div>
      <div class="form-inline justify-content-around mt-5">
        <button type="submit" class="btn btn-primary" [disabled]="!f.valid">
          Ajouter
        </button>
        <button type="button" class="btn btn-warning" (click)="cancel(f)">
          Annuler
        </button>
      </div>
    </form>
  </div>
</div>
